<h1>Score Shared!!</h1>

<%= @user.name %>

<% @user.total_score = 0 %>
<% @user.words_guessed = 0 %>
<% @user.save %>

	<% begin %>	
	<% @client.update("I scored #{@user.score}% on Marco's ISpellThisRight App!! Check how high you can score by taking the spelling challenge!! @lostaunaum") %>
	<% rescue %>
		<% @client.update = ActionView::Template::Error %>
		<% sleep(1.0/24.0) #one 24th of a second %>
		<% retry %>
	<% end %>
