<% @user.total_score = 0 %>
<% @user.words_guessed = 0 %>
<% @user.save %>

<% @client.update("I scored #{@user.score}% on Marco's ISpellThisRight App!! Take the spelling challenge!! @lostaunaum https://ispellthisright.herokuapp.com") %>

<div class="shareScorePage">
	<div class="shareScoreHeader">
		<span class="shareScoreTitle">Score Shared!!</span></br>
		<span class="shareScoreSignature">Thank you for your time!</span>
	</div>
	<div class="tweetblock">
		<span class="tweetBlockSharescore"><blockquote class="twitter-tweet"><p>I scored <%= @user.score %>% on Marco's ISpellThisRight App!! Take the spelling challenge!! @lostaunaum https://ispellthisright.herokuapp.com</p><%= @user.name %> <a href="https://twitter.com/<%= @user.nickname %>">(@<%= @user.nickname %>)</a></blockquote></span>
	</div>
</div>