<% @user.total_score = 0 %>
<% @user.words_guessed = 0 %>
<% @user.save %>

<div class="frontPage">
	<div class="byeText">
		Thank you!</br>
		<span class="byeText2"><%= @user.name%></span>
	</div></br>
</div>